/* main styles for portfolio page */

body{
    background-color: white;
}

/******************* HEADER ****************************/
.page-header{
	width: 100%;
    background-image: url("../img/fireworks.jpg");
    background-repeat: no-repeat;
	background-size: 100%;
    margin: 0 0 5px 0;
    padding: 5px 0 0 0;
	height: 35em;
    opacity: 0.8;
    border: 15px solid;
}

.name{
    margin: 10% 0 0 2%;
    font-size: 3em;
    color: #BC11F5;
    font-weight: 800;
    background-color: #34E1F7;
    width: 20%;
    padding-left: 1%;
    
}

.job_title{
    margin: 0 0 0 2%;
    color: #34E1F7;
    font-size: 3em;
    font-weight: 800;
    background-color: white;
    width: 30%;
    padding-left: 1%;
    
}

.section_titles{
    color: purple;
    font-size: 3em;
    margin-left: -75px;
    padding: 2%;
}

.section_titles:hover{
    color: deeppink;
    font-weight: bold;
}

nav{
	width: 100%;
	text-align: center;
	padding: 10px 10px;
	margin: 20px 0 0;  
}

nav ul{
    text-decoration: none;
    list-style: none;
    margin:0;
    padding:0;
    float: right;
    color: white;
}

nav li{
    display: inline-block;
    margin-left: 10px;
    font-size: 2em;
}

nav a{
	color: white;
}

/******************* PROJECT SECTION ****************************/
.panel{
    width: 130em;
    margin-left: 5%;
}
.jumbotron{
    background-color: #F5F5DA;
    border: 1em solid #DAF5E8;
    box-shadow: 10px 10px 5px #888888;
}

.jumbotron h1{
    font-size: 4em;
    margin: 1em 0 1em .2em;
    color: #16F7D2;
}

.thumbnail{
    border: none;
    background-color: transparent;
    display: inline;
}
#projects{
	margin-left: 8%;
}

.projectTitles{
    margin-top: 1%;
    color: #16F783;
    font-size: 6em;
    font-weight: bold;
    
}


.projectDescription{
    margin 0;
    padding: 0;
    color: #CACCCB;
    font-size: 1.5em;
}

 .projectLink{
    font-size: 1.5em;
     color: blue;
     margin-bottom: 1%;
}

.projectLink:hove{
    text-decoration: underline;
}

button{
    background-color:#F1B0F7;
    color: white;
    margin-top: 3em;
    margin-right: 1em;
    width: 10em;
    height: 50px;
    font-size: 1.2em;
    font-weight: bold;
}

.screenshot img:hover{
    opacity: 0.4;
    border: 5px solid #48f70c;
    
}


.col-lg-9{
    width: 65%;
    padding: 0;
    margin-bottom: 2%;
}

.col-lg-5{
    padding: 0;
}

.col-lg-3{
    padding: 0;
}




.screen_shot_small:hover{
    width: 75%;
    height: 75%;
    
}

#keyesArchitects{
    width: 90%;
    margin-left: 5%;
    margin-bottom: 2%;
    margin-top: 2%;
}



#classic_cartoon_hub{
    width: 90%;
     margin-bottom: 2%;
    margin-left: 5%;
}

#zombie_smash{
    width: 90%;
     margin-bottom: 2%;
    margin-left: 5%;
}

#beachedAnimalRescue{
    width: 90%;
     margin-bottom: 2%;
    margin-left: 5%;
}


/************* CONTACT SECTION ****************************/
#contact{
	margin-left: 9%;
}

.profile_pic{
    margin-left: 5%;
    margin-top: 3%;
}

.profile_pic img{
    border-radius: 75%;
}

.col-lg-pull-3{
    margin: 5%;
}

.col-lg-1{
    margin: 5%;
}

.icons a{
   font-size: 1.5em;
    padding: 15%;
}


.icons a img{
    margin-top: 100px;
}

#email{
    margin-left: 25px;
}

.quote{
    color: black;
    margin-top: 25%;
}


.quoteText{
    font-size: 2em;
}







