/* main styles for portfolio page */



/******************* HEADER ****************************/
/*.container-fluid{
    width: 100%;
}*/

.page-header{
    background-color: beige;
    margin: 0 0 2em 0;
    padding: 5px 0 0 0;
    opacity: 0.5;
    width: 100%;
    border: none;
}

.navbar-default{
   background-color: beige;
    border: none;
}
.name{
    font-size: 3em;
    color: #BC11F5;
    font-weight: 800;
    padding-left: 1%;
    
}

.job_title{
    margin: 0 0 0 2%;
    color: #34E1F7;
    font-size: 2em;
    font-weight: 800;
    padding-left: 1%;
    
}

.navbar-default .navbar-nav li a
{
	color: #16F783;
    font-size: 2em;
}

footer{
    text-align: center;
}

/******************* PROJECT SECTION ****************************/
.panel{
    width: 115em;
    margin-left: 5%;
    box-shadow: 10px 10px 5px #888888;
    border: 1em solid #DAF5E8;
}

.panel-title{
    font-size: 5em;
    color: #16F783;
}

.panel-body{ 
    background-color: #F5F5DA;
    color: #ABABAB;
    font-size: 1.3em;
}
.jumbotron{
    background-color: #F5F5DA;
    border: 1em solid #DAF5E8;
    box-shadow: 10px 10px 5px #888888;
}

.jumbotron h1{
    font-size: 4em;
    margin: 1em 0 1em .2em;
    color: #16F7D2;
}

.thumbnail{
    border: none;
    background-color: transparent;
    display: inline;
}

.thumbnail img{
    margin-left: 5%; 
}
.well{
    margin-top: 3em;
    margin-bottom: 3em;
    background-color:#F1B0F7;
}
 .well-lg h1{
    text-align: center;
    font-size: 6em;
     color: #F5F5DA;
}

#projects{
	margin-left: 8%;
}

.projectTitles{
    margin-top: 1%;
    color: #16F783;
    font-size: 6em;
    font-weight: bold; 
    text-align: center;
}


.projectDescription{
    margin 0 1em;
    padding: 0 2em;
    color: #ABABAB;
    font-size: 1.5em;
    text-align: center;
}

 .projectLink{
    font-size: 1.5em;
     color: blue;
     margin-bottom: 1%;
     text-align: center;
}

.projectLink:hove{
    text-decoration: underline;
}

button{
    background-color:#F1B0F7;
    color: white;
    margin-top: 3em;
    margin-right: 1em;
    width: 10em;
    height: 50px;
    font-size: 1.2em;
    font-weight: bold;
}



#keyesArchitects{
    width: 90%;
    margin-left: 5%;
    margin-bottom: 2%;
    margin-top: 2%;
}



#classic_cartoon_hub{
    width: 90%;
     margin-bottom: 2%;
    margin-left: 5%;
}

#zombie_smash{
    width: 90%;
     margin-bottom: 2%;
    margin-left: 5%;
}

#beachedAnimalRescue{
    width: 90%;
     margin-bottom: 2%;
    margin-left: 5%;
}


/************* CONTACT SECTION ****************************/
#contact{
	margin-left: 9%;
}

.profile_pic{
    margin-left: 5%;
    margin-top: 3%;
}

.profile_pic img{
    border-radius: 75%;
}

.col-lg-pull-3{
    margin: 5%;
}

.col-lg-1{
    margin: 5%;
}

.icons a{
   font-size: 1.5em;
    padding: 15%;
}


.icons a img{
    margin-top: 100px;
}

#email{
    margin-left: 25px;
}

.quote{
    color: black;
    margin-top: 25%;
}


.quoteText{
    font-size: 2em;
}







