/* Adjustments for smaller layouts */

@media(max-width: 639px){
    .container-fluid{
        padding: 0;
        margin: 0;
    }

    .navbar-toggle{
        margin-top: -55px;
        width: 5em;
        /*margin-right: -5px;*/
    }    
.name{
    margin-top: 15px;
    font-size: 16px;
    margin-left: 40px;
}

.job_title{
    margin-left:40px;
    font-size: 12px;
}
    
    .well{
        width: 20em;
        margin: 2em auto 2em auto;
    }   
 .well-lg h1{
    text-align: center;
    font-size: 2em;
     color: #F5F5DA;
}
 .panel{
    width: 20em;
   margin-left: auto;
     margin-top: 2em;
     margin-right: auto;
     margin-bottom: 2em;
  
}   
.panel-body{ 
    font-size: 1em;
}    
.projectTitles{
    font-size: 2em;
    font-weight: bold;
}
    
.projectDescription{
    margin: 2%;
    margin-left: 1%;
    padding: 0;
    font-size: .8em;
}    

.projectLink a{
    font-size: 1.4em;
    margin-bottom: 0;
}
    
    .jumbotron{
        width: 10em;
        margin: 2em auto 2em auto;
    }
.jumbotron h1{
    font-size: 1.5em;
    text-align: center;
}

button{
    margin-top: 1em;
    margin-right: .5em;
    margin-left: .5em;
    height: 45px;
    font-size: 1em;
    font-weight: bold;
} 

.thumbnail img{
    margin-left: 2%; 
} 
    
  .projectLink  a{
        font-size: .8em;
    }    

    .col-xs-push-4{
        padding: 2%; 
    }
} /*end media query*/

@media(min-width: 640px && max-width: 1024px){
    .container-fluid{
        max-width: 100%;
    }
    
    .panel{
        max-width: 615px;
        margin-left: auto;
        margin-top: 2em;
        margin-right: auto;
        margin-bottom: 2em;
    }
    
    .projectTitles{
        font-size: 2em;
        font-weight: bold;
    }
    
    .projectDescription{
        margin: 2%;
        margin-left: 1%;
        padding: 0;
        font-size: .8em;
    }    

    .projectLink a{
        font-size: 1.4em;
        margin-bottom: 0;
    }
    
    .jumbotron h1{
        font-size: 1.8em;
        text-align: center;
        margin-bottom: 1em;
    }
    
    button{
        margin-top: 1em;
        margin-right: -1em;
        margin-left: .5em;
        height: 45px;
        font-size: 1em;
        font-weight: bold;
    }
    
    .well-lg h1 {
        font-size:  2em;
    }
}

   
  

    
    
    
    
    
    
    
    
    
    
    
    
