/* Adjustments for smaller layouts */

@media(max-width: 600px){
	header{
    margin: 0 0 10px 0;
    padding: 5px 0 0 0;
	height: 150px;
}

.name{
    margin: 5% 0 0 10%;
    font-size: 1.5em;
    color: white;
}

.job_title{
    margin: 0 0 0 10%;
    font-size: 1.3em;
    color: white;
}
    
nav{
	width: 100%;
	text-align: center;
	padding: 5px 5px;
	margin: 10px 0 0;  
}    
    
nav li{
    display: inline-block;
    margin-left: 5px;
    font-size: 1em;
} 
    
nav a{
    margin: 0;
}    

.section_titles{
    color: purple;
    font-size: 2em;
	font-weight: bold;
    margin-left: 0;
	padding: 5px;
}

.projectTitles{
    margin-top: 5%;
    margin-left: 10%;
    font-size: 2em;
    font-weight: bold;
}
    
.projectDescription{
    margin: 2%;
    margin-left: 10%;
    padding: 0;
    font-size: 1.5em;
}    

.projectLink a{
    font-size: 1.4em;
    margin-bottom: 0;
}

h4{
    margin: 1%;
    padding: 0;
    color: darkslategray;
}

a{
	margin-left: 15%;
}

button{
    margin: 0 0 15px 0;
    border: 3px solid darkslategray;
    width: 95px;
    height: 40px;
    font-size: 1em;
    padding-bottom; 5px;
}



/* Carousel */
#wrapper_Keyes{
    width: 100%;
    margin-left: 1%;
}

#carousel_keyesArchitects{
    width: 100%;
    background-color: white;
	margin-left: 2%;
}

	
.carousel-inner{
    height: 150px;
    margin: 1%;
}
    
.carousel-control{
        width: 75%;
}

    
.carousel_text{
    margin-top: 2%;
	font-size: 10px;
}

.item{
    padding: 1.5%;
    margin: .5% 2% 2% 15%;
}

.item img{
    border: 1px solid black;
    height: 85%;
    width: 85%;
	margin-top: 15px;
    margin-left: 8%;
    margin-bottom: 75px;
}

.carousel-caption{
	display: none;
}

#carousel_cartoonHub{
    width: 100%;
	margin-left: 2%;
    margin-top: 4%;
    background-color: white;
}

#carousel_zombieSmash{
    width: 100%;
	margin-left: 2%;
    margin-top: 4%;
    background-color: white;
}
    
#zombie_smash{
    border-bottom: 3px solid gray;
    width: 90%;
    margin-left: 5%;
    margin-top: 2%;
} 
    
/************* MODAL SETTINGS *****************************/

.modal-title{
    font-size: 1em;
}

.modal-header button .close{
    font-size: 20px;
}

.modal-content{
    width: 250px;
    height: 375px;
}
    
.modal-body{
    margin: 25px;
}
    
.modal-body img {
    width: 95%;
    height: 95%;
}    

/************* CONTACT SECTION ****************************/
#contact{
	margin-left: 5%;
}

.profile_pic{
    margin-left: 5%;
    margin-top: 3%;
}


.col-lg-1{
    margin: 0;
}

.icons a{
   font-size: 1em;
    display: inline;
}


.icons a img{
    margin-top: 10px;
}

#email{
    margin-left: 100px;
}

.quote{
    color: black;
    margin: 3%;
}


.quoteText{
    font-size: 1em;
}
    

} /*end media query*/



/***********************************************************************/

@media(min-width: 601px) and (max-width: 800px){

header{
    margin: 0 0 10px 0;
    padding: 5px 0 0 0;
	height: 150px;
}    
.name{
    margin: 5% 0 0 5%;
    font-size: 1.5em;
    color: white;
}

.job_title{
    margin: 0 0 0 5%;
    font-size: 1.5em;
    color: white;
} 
    
nav{
	margin: 3px 0 0;
    padding: 0;
} 
    
nav li{
    display: inline-block;
    margin-left: 3px;
    font-size: 1em;
} 
    
.section_titles{
    margin-left: 2%;
	padding: 5px;
}    
    
.carousel-inner{
    height: 175px;
    margin: 1%;
}  

.carousel-control{
    display: none;
}
    
    
.projectTitles{
    margin-top: 5%;
    margin-left: 5%;
    font-size: 1.4em;
}
    
.projectDescription{
    margin: 2%;
    margin-left: 5%;
    padding: 0;
    font-size: 1.3em;
}    

.projectLink a{
    font-size: 1.3em;
    margin-bottom: 0;
} 

a{
	margin-left: 5%;
    margin-bottom: 3em;
}    
    
button{
    margin: 0 0 15px 0;
    border: 3px solid darkslategray;
    width: 95px;
    height: 40px;
    font-size: 1em;
    padding-bottom; 5px;
}    
    
.quote{
    
    margin: 1%;
}

.icons a{
   font-size: 1em;
    display: inline;
}


.icons a img{
    margin-top: 10px;
}

#email{
    margin-left: 10px;
}


  /************* MODAL SETTINGS *****************************/

.modal-title{
    font-size: 1em;
}

.modal-header button .close{
    font-size: 20px;
}

.modal-content{
    width: 300px;
    height: 500px;
}
    
.modal-body{
    margin: 25px;
}
    
.modal-body img {
    width: 95%;
    height: 95%;
}    
  
    
    
    
    
    
    
    
    
    
    
    
    
}