/* Adjustments for smaller layouts */

@media(max-width: 639px){
    .container-fluid{
        padding: 0;
    }    
.page-header{
    background-color: beige;
    margin: 0 0 2em 0;
    width: 100%;
}
    .navbar-toggle{
        margin-top: -55px;
        margin-right: -5px;
    }    
.name{
    margin-top: 15px;
    font-size: 16px;
    margin-left: 22px;
}

.job_title{
    margin-left:22px;
    font-size: 12px;
}
    
    
 .well-lg h1{
    text-align: center;
    font-size: 2em;
     color: #F5F5DA;
}
 .panel{
    width: 25em;
    margin-left: 3%;
  
}   
.panel-body{ 
    font-size: 1em;
}    
.projectTitles{
    font-size: 2em;
    font-weight: bold;
}
    
.projectDescription{
    margin: 2%;
    margin-left: 2%;
    padding: 0;
    font-size: 1em;
}    

.projectLink a{
    font-size: 1.4em;
    margin-bottom: 0;
}

.jumbotron h1{
    font-size: 2em;
    text-align: center;
}

button{
    margin-top: 1em;
    margin-right: .5em;
    margin-left: .5em;
    height: 45px;
    font-size: 1em;
    font-weight: bold;
} 

.thumbnail img{
    margin-left: 2%; 
} 
    
  .projectLink  a{
        font-size: .8em;
    }    

    .col-xs-push-4{
        padding: 2%; 
    }
} /*end media query*/



/***********************************************************************/

@media(min-width: 640px) and (max-width: 800px){

.name{
    margin: 2% 0 0 2%;
    font-size: 1.5em;
}

.job_title{
    margin-left: 2%;
    font-size: 1em;
}
    
    
nav{
	margin: 3px 0 0;
    padding: 0;
} 
    
nav li{
    display: inline-block;
    margin-left: 3px;
    font-size: 1em;
} 
    
.section_titles{
    margin-left: 2%;
	padding: 5px;
}    
    
.carousel-inner{
    height: 175px;
    margin: 1%;
}  

.carousel-control{
    display: none;
}
    
    
.projectTitles{
    margin-top: 5%;
    margin-left: 5%;
    font-size: 1.4em;
}
    
.projectDescription{
    margin: 2%;
    margin-left: 5%;
    padding: 0;
    font-size: 1.3em;
}    

.projectLink a{
    font-size: 1.3em;
    margin-bottom: 0;
} 

a{
	margin-left: 5%;
    margin-bottom: 3em;
}    
    
button{
    margin: 0 0 15px 0;
    border: 3px solid darkslategray;
    width: 95px;
    height: 40px;
    font-size: 1em;
    padding-bottom; 5px;
}    
    
.quote{
    
    margin: 1%;
}

.icons a{
   font-size: 1em;
    display: inline;
}


.icons a img{
    margin-top: 10px;
}

#email{
    margin-left: 10px;
}


  /************* MODAL SETTINGS *****************************/

.modal-title{
    font-size: 1em;
}

.modal-header button .close{
    font-size: 20px;
}

.modal-content{
    width: 300px;
    height: 500px;
}
    
.modal-body{
    margin: 25px;
}
    
.modal-body img {
    width: 95%;
    height: 95%;
}    
  
    
    
    
    
    
    
    
    
    
    
    
    
}