{% extends 'main.twig'  %}
{% block content %}

    <strong>About</strong>
    <h2>George Lucas</h2>

    <div class="profile_pic">
      <img src="images/george_lucas_profile.jpg" alt="Picture of George Lucas">
    </div>  
  

    <p>George Walton Lucas, Jr.(born May 14, 1944) is an American filmmaker and entrepreneur. He is best known as the creator of the Star Wars and Indiana Jones franchises, as well as the founder of Lucasfilm and ILM. He led Lucasfilm as chairman and chief executive before selling it to The Walt Disney Company in 2012.</p>

    <p>Upon graduating from the University of Southern California in 1967, Lucas co-founded American Zoetrope with fellow filmmaker Francis Ford Coppola. He wrote and directed THX 1138 (1971), based on his earlier student short Electronic Labyrinth: THX 1138 4EB, which was a critical success but a financial failure. Lucas's next work as a writer-director was the film American Graffiti (1973), inspired by his teen years in early 1960s Modesto, California, and produced through the newly founded Lucasfilm. The film was critically and commercially successful, and received five Academy Award nominations including Best Picture.</p>

    <p>In 1967, Lucas re-enrolled as a USC graduate student in film production.[10] Working as a teaching instructor for a class of U.S. Navy students who were being taught documentary cinematography, Lucas directed the short film Electronic Labyrinth: THX 1138 4EB, which won first prize at the 1967–68 National Student film festival, and was later adapted into his first full-length feature film, THX 1138. Lucas was awarded a student scholarship by Warner Bros. to observe and work on the making of a film of his choosing. The film he chose was Finian's Rainbow (1968) which was being directed by Francis Ford Coppola, who was revered among film school students of the time as a cinema graduate who had "made it" in Hollywood. In 1969, Lucas was one of the camera operators on the classic Rolling Stones concert film Gimme Shelter.</p>

    <p>Lucas co-founded the studio American Zoetrope with Coppola—whom he met during his internship at Warner Bros.—hoping to create a liberating environment for filmmakers to direct outside the perceived oppressive control of the Hollywood studio system.[11] His first full-length feature film produced by the studio, THX 1138, was not a success. Lucas then created his own company, Lucasfilm, Ltd., and directed American Graffiti (1973).
    </p>
    <p>The animation studio Pixar was founded as the Graphix Group, one third of the Computer Division of Lucasfilm.[15] Pixar's early computer graphics research resulted in groundbreaking effects in films such as Star Trek II: The Wrath of Khan[16] and Young Sherlock Holmes,[16] and the group was purchased in 1986 by Steve Jobs shortly after he left Apple Computer. Jobs paid Lucas US$5 million and put US$5 million as capital into the company. The sale reflected Lucas' desire to stop the cash flow losses from his 7-year research projects associated with new entertainment technology tools, as well as his company's new focus on creating entertainment products rather than tools. A contributing factor was cash-flow difficulties following Lucas' 1983 divorce concurrent with the sudden dropoff in revenues from Star Wars licenses following the release of Return of the Jedi.</p>

    <p>The sound equipped system, THX Ltd, was founded by Lucas and Tomlinson Holman.[17] The company was formerly owned by Lucasfilm, and contains equipment for stereo, digital, and theatrical sound for films, and music. Skywalker Sound and Industrial Light & Magic, are the sound and visual effects subdivisions of Lucasfilm, while Lucasfilm Games, later renamed LucasArts, produces products for the gaming industry</p>
{% endblock content %}