{% extends 'main.twig'  %}
{% block content %}


<h1>Star Wars</h1>
  <div class="jumbo_img">
    <img src="../images/star_wars.jpg">
  </div>

<h1>Howard The Duck</h1>
  <div class="jumbo_img">
    <img src="../images/howard_the_duck.jpg">
  </div>
    
<h1>Indiana Jones</h1>
  <div class="jumbo_img">
    <img src="../images/indiana_jones.jpg">
  </div>

<h1>Labryinth</h1>
  <div class="jumbo_img">
    <img src="../images/labryinth.jpg">
  </div>

<h1>Willow</h1>
  <div class="jumbo_img">
    <img src="../images/willow.jpg">
  </div>























<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
{% endblock content %}