<!doctype html>

<html lang="en">
<head>
  {% block head  %}
    <meta charset="utf-8">
    <title>{% block title %}George Lucas{% endblock title %}</title>
    <meta name="description" content="George Lucas">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/master.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="js/global.js"></script>
  {% endblock head %}
</head>

<body>
<!--
  <div id="feedback" class="success">
    <h3>Success!</h3>
    <p>You're reading all about George Lucas.</p>
  </div>
-->


  <header>
    <h1>George Lucas</h1>
    <nav>
      <a href={{ baseUrl() }} class="selected">About</a>
      <a href={{ siteUrl('/filmography') }}>Filmography</a>
      <a href={{ siteUrl('/contact') }}>Contact</a>
    </nav>
  </header>

  <main>
    {% block content %}
    {% endblock content %}
  </main>

  <footer>
     {% block footer %}
      
      <nav>
        <a href="lucasarts.com">Lucas Arts</a>
        <a href="lucasfilm.com">Lucas Film</a>
        <a href="http://www.starwars.com">Star Wars</a>
        <a href="http://www.indianajones.com">Indiana Jones</a>
      </nav>
    {% endblock footer %}
  </footer>

</body>
</html>
